/* Header Styles */

.site-header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.branding {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

.logo-image {
    width: 50px; /* Adjust as needed */
    height: auto;
    margin-right: 10px;
}

.site-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.main-navigation {
    display: flex;
    align-items: center;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-item {
    margin-left: 20px;
}

.menu-item:first-child {
    margin-left: 0;
}

.menu-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu-item a:hover {
    color: #007bff;
}

.menu-toggle {
    display: none; /* Hide initially on larger screens */
}

.mobile-navigation {
    display: none; /* Hidden initially on larger screens */
}

/* Media Query for Mobile Navigation */
@media screen and (max-width: 768px) {
    .menu {
        display: none; /* Hide main menu on smaller screens */
    }

    .menu-toggle {
        display: block; /* Show menu toggle button on smaller screens */
        cursor: pointer;
        border: none;
        background: none;
        font-size: 18px;
        color: #333;
    }

    .mobile-navigation {
        display: block; /* Show mobile navigation container on smaller screens */
    }
}
